body {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0.5rem;
  display: grid;
  background-color: black;
  font-family: 'Roboto Mono', monospace;
  grid-gap: 1rem;
  justify-items: stretch;
  align-items: stretch;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 60% 35% 5%;
}

/* apply in pages other then the homepage b/c the number of grids are different*/
.wrapper-pages {
  background-color: white;
  font-family: 'Roboto Mono', monospace;
  justify-content: stretch;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
}


.home-banner {
  grid-column: 1 / 5;
  grid-row: 1;
  background-image: url("../images/banner-background-image.jpg");
  background-size: cover;
  color: #2fa281;
}


/* apply in pages other then the homepage b/c the banner locations are different*/
.pages-banner {
  grid-column: 1 / 5;
  grid-row: 2;
  background-color: white;
  color: black;
}


.center-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
}

.menu {
  grid-column: 1 / 5;
  grid-row: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
}

/* apply in pages other then the homepage to overwrite the .menu b/c the nav bar locations are different*/
.pages-menu {
  margin-top: 1rem;
  grid-column: 1 / 5;
  grid-row: 1;
  flex-wrap: nowrap;
}

a {
  text-decoration: none;
}

a:hover {
  color:red;
}

.nav-home {
  flex: 1;
  background-color:#c6ffdd;
}

.nav-about {
  flex: 1;
  background-color: #E6E6A7;
}

.nav-portfolio {
  flex: 1;
  background-color:#FABB83;
}

.nav-hobby {
  flex: 1;
  background-color: #f7797d;
} 

.rounded-corners {
  border-radius: 5px;
  padding: 1em;
}

.fixed-font {
  font-size: 15px;
}

/* the color gradients code is from http://uigradients.com/ */
.home-footer {
  grid-column: 1 / 5;
  grid-row: 3;
  font-size: 1rem;
  background: #C6FFDD;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin-bottom: 0.5rem;
}

/* apply in pages other then the homepage to overwrite the .menu b/c the footer locations are different*/
.pages-footer {
  grid-column: 1 / 5;
  grid-row: 4;
}

/* apply in pages other then the homepage */
.main-content {
  grid-column: 2 / 4;
  grid-row: 3;
}

.self-photo {
  width: 40%;
  height: 50%;
  float: left;
  margin-right: 10px;
}

.blog-border {
  border: 2px solid brown;
  border-radius: 5px;
  margin: 1rem 0 1rem;
  padding: 0 0.5rem;
}
